<!-- -*- mode: XML -*- -->
<!-- To use this, you will have to manually do: rosrun joy joy_node -->

        <!-- <node name="navigation_state_visualization" pkg="ieee2015_diagnostics" type="visualize_motion"  -->
        <!-- args="- -topic odom - -name NavigationViz" -->
        <!-- output="screen" /> -->


<launch>
    <group ns="robot">
        <node name="joystick_control" pkg="ieee2016_diagnostics_ported" type="joystick_command" 
            output="screen" />
        <node name="mecanum_control" pkg="ieee2016_controller" type="mecanum_controller.py" 
            output="screen" />
        <node name="vehicle_control" pkg="ieee2016_controller" type="vehicle_controller.py" 
            output="screen" />
        <node name="xmega_connector" pkg="ieee2016_xmega_connector_ported" type="xmega_connector_publisher.py" 
            respawn="true" output="screen" >
            <rosparam>
                port: /dev/xmega_tty
            </rosparam>
        </node>
    </group>
</launch>

