<?xml version="1.0"?>
<launch>
    <arg name="cam" value="cam_0"/>
    <node pkg="usb_cam" type="usb_cam_node" name="$(arg cam)" output="screen">
        <param name="camera_name" value="$(arg cam)" />
        <param name="video_device" value="/dev/video0" />
        <param name="camera_frame_id" value="/camera/$(arg cam)" />
        <param name="camera_info_url" value="package://ieee2016_vision/calibrations/$(arg cam).yaml" />
        <param name="pixel_format" value="yuyv" />
        <param name="image_width" value="1920" />
        <param name="image_height" value="1080" />
    </node>
</launch>