<launch>
  <node pkg="ieee2016_vision" type="camera_manager.py" name="camera_manager" output="screen">
    <param name="fps" value="17"/>

    <param name="cam_1_index" value="0"/>
    <param name="cam_1_width" value="1920"/>
    <param name="cam_1_heigth" value="1080"/>

    <param name="cam_2_index" value="0"/>
    <param name="cam_2_width" value="1920"/>
    <param name="cam_2_heigth" value="1080"/>
  </node>
</launch>
