<?xml version="1.0"?>
<launch>
    <node name="hokuyo_left" pkg="hokuyo_node" type="hokuyo_node">
        <param name="port" type="string" value="/dev/sensors/hokuyo_H1009061" />
        <remap from="scan" to="scan_left" />
	<param name="frame_id" type="string" value="laser_left" />
    </node>
    <node name="hokuyo_middle" pkg="hokuyo_node" type="hokuyo_node">
        <param name="port" type="string" value="/dev/sensors/hokuyo_H1009001" />
        <remap from="scan" to="scan_middle" />
	<param name="frame_id" type="string" value="laser_middle" />
    </node>
    <node name="hokuyo_right" pkg="hokuyo_node" type="hokuyo_node">
        <param name="port" type="string" value="/dev/sensors/hokuyo_H1008999" />
        <remap from="scan" to="scan_right" />
	<param name="frame_id" type="string" value="laser_right" />
    </node>  

    <node pkg="ieee2016_navigation" type="laser_comb.py" name="laser_comb"/>
    <node pkg="tf" type="static_transform_publisher" name="temp_odom_to_laser_comb" args="0 0 0 0 0 0 odom laser_comb 10"/>
    <!--node pkg="ieee2016_navigation" type="laser_trimmer.py" name="laser_trimmer" args="125"/-->
</launch>
  
