<?xml version="1.0"?>
<launch>
    <node name="hokuyo_left" pkg="hokuyo_node" type="hokuyo_node">
        <param name="port" type="string" value="/dev/sensors/hokuyo_H1009061" />
        <remap from="scan" to="scan_left" />
	<param name="frame_id" type="string" value="laser_left" />
    </node>
    <node name="hokuyo_middle" pkg="hokuyo_node" type="hokuyo_node">
        <param name="port" type="string" value="/dev/sensors/hokuyo_H1009001" />
        <remap from="scan" to="scan_middle" />
	<param name="frame_id" type="string" value="laser_middle" />
    </node>
    <node name="hokuyo_right" pkg="hokuyo_node" type="hokuyo_node">
        <param name="port" type="string" value="/dev/sensors/hokuyo_H1008999" />
        <remap from="scan" to="scan_right" />
	<param name="frame_id" type="string" value="laser_right" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_left" args="0 .125368 0 -1.570796 3.14159 0 base_link laser_left 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_middle" args=".08 0 0 0 0 3.14159 base_link laser_middle 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_right" args="0 -.125368 0 1.570796 3.14159 0 base_link laser_right 10" />

    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_comb" args="0 0 0 0 0 0 base_link laser_comb 10" />  

    <node pkg="ieee2016_navigation" type="laser_comb.py" name="laser_comb"/>
    
    <!--node pkg="ieee2016_navigation" type="laser_trimmer.py" name="laser_trimmer" args="125"/-->
</launch>
  
