<!-- -*- mode: XML -*- -->

<launch>
  <group ns="robot">
      <node name="mecanum_control" pkg="ieee2016_controller" type="mecanum_controller.py" 
          output="screen" />
      <node name="vehicle_control" pkg="ieee2016_controller" type="vehicle_controller.py" 
          output="screen" />

      <node name="xmega_connector" pkg="ieee2016_xmega_connector_ported" type="xmega_connector_publisher.py" respawn="true" output="screen" >
          <rosparam>
              port: /dev/xmega_tty
          </rosparam>
      </node>
  </group>
</launch>