<!-- -*- mode: XML -*- -->

<launch>
  <group ns="robot">
      <node name="tf_broadcaster" pkg="ieee2016_tf_broadcaster" type="tf_broadcaster.py" output="screen" />
      <node name="vehicle_control" pkg="ieee2016_controller" type="vehicle_controller.py" />
      <node name="arm_control" pkg="ieee2016_arm_control" type="arm_controller.py" output="screen" />

      <node name="lidar_simulator" pkg="ieee2016_simulator" type="lidar_simulator.py" output="screen" />
      <node name="pos_simulator" pkg="ieee2016_simulator" type="pos_simulator.py" output="screen" />
  </group>

  <!-- For remote control -->
  <node name="joystick_control" pkg="ieee2016_diagnostics_ported" type="joystick_command" output="screen"/>
  <node name="joystick" pkg="joy" type="joy_node" output="screen"/>
</launch>