<!-- -*- mode: XML -*- -->

<launch>
  <group ns="robot">
      <node name="tf_broadcaster" pkg="ieee2016_tf_broadcaster" type="tf_broadcaster.py" />
      <node name="vehicle_control" pkg="ieee2016_controller" type="vehicle_controller.py" output="screen" />
      
      <node name="arm_sim" pkg="ieee2016_simulator_new" type="arm_simulator.py" output="screen" />
      <node name="pos_sim" pkg="ieee2016_simulator_new" type="pos_simulator.py" output="screen" />
      <node name="pf" pkg="ieee2016_navigation" type="P_F_sim.py" output="screen" />
  </group>

  <!-- For remote control -->
  <node name="joystick_control" pkg="ieee2016_diagnostics_ported" type="joystick_command" output="screen"/>
  <node name="joystick" pkg="joy" type="joy_node" output="screen"/>
</launch>